# Описание цели SafeTech SafeTouch / AT91SAM7S64.
# Перед этим файлом подключите конфигурацию используемого JTAG-адаптера.

transport select jtag
adapter speed 100

set CHIPNAME at91sam7s
set CPUTAPID 0x3f0f0f0f
source [find target/at91sam7sx.cfg]
